.Social-content__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2em;
}

.Social {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  font-size: 2em;
  -webkit-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

@media screen and (max-width: 959px) {
  .Social {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 250px;
    text-align: center;
    font-size: 1.7em;
  }
}

.Social-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (max-width: 959px) {
  .Social-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.fa-brands {
  width: 45px;
  padding: 5px;
  cursor: pointer;
  color: #000;
}

.fa-brands:hover {
  color: #f5b82d;
}
