:root {
  --bg-primary: #003c8f;
  --input-color: #939393;
  --input-border: #cdd9ed;
  --input-background: #fff;
  --input-placeholder: #cbd1dc;
  --input-border-focus: var(--bg-primary);
  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #0d2c69;
  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: var(--bg-primary);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 50vh;
}

strong {
  color: #f5b82d;
}


html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6.5px;
}

.container-card::-webkit-scrollbar-track {
  background-color: rgba(54, 69, 231, 0.106);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--bg-primary);
  border-radius: 5px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: #1454d4;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: #f5b82d;
}

body {
  margin: 0;
  font-size: clamp(1.3vw, 20px, 16px);
  font-family: 'Poppins', sans-serif;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

@media screen and (max-width: 768px) {
  body#show {
    overflow-y: hidden;
  }
}

/* Dark mode  */

body.dark {
  background-color: #000b1b;
  color: #fff;
}

body.dark header {
  background-color: rgba(0, 0, 0, 0.027);
}

@media screen and (max-width: 768px) {
  body.dark .main-menu {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

body.dark .button {
  color: #fff;
}

body.dark .fa-brands {
  color: #fff;
}

body.dark .fa-brands:hover {
  color: #f5b82d;
}

body.dark .form-field {
  background-color: #00112b;
}

/* Elementos principales */

.main {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section {
  position: relative;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
}

.home {
  display: flex;
  flex-wrap: wrap-reverse;
}

.container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  border-radius: 30px;
  border: 2px solid var(--bg-primary);
  padding: 16px 0;
  width: 250px;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  -webkit-transition: all ease-in .3s;
  -o-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.button:hover {
  background-color: var(--bg-primary);
  color: #fff;
}